<div ng-controller="UmbHost.Cloudflare.Purge.Cdn.Controller as vm">
    <div class="umbhostCloudflarePurgeCdn">
        <umb-editor-view class="form-horizontal">
            <umb-editor-header name="vm.cdnTitle"
                               name-locked="true"
                               hide-alias="true"
                               show-back-button="false"
                               hide-description="true"
                               hide-icon="true">
            </umb-editor-header>
            <umb-editor-container>
                <umb-box>
                    <umb-box-content>
                        <p><localize key="umbhostCloudflarePurge_cdnIntroduction"></localize></p>
                    </umb-box-content>
                </umb-box>

                <umb-load-indicator ng-if="vm.loading">
                </umb-load-indicator>
                <div ng-if="!vm.loading">
                    <umb-box>
                        <umb-box-header title-key="umbhostCloudflarePurge_cdnDeveloperModeTitle" description-key="umbhostCloudflarePurge_cdnDeveloperModeDescription"></umb-box-header>
                        <umb-box-content>
                            <p class="alert alert-warning"><localize key="umbhostCloudflarePurge_cdnDeveloperModeWarning"></localize></p>
                            <umb-toggle checked="vm.developerMode"
                                        disabled="vm.developerModeDisabled"
                                        on-click="vm.developerModeToggle()"
                                        show-labels="true"
                                        label-on="On"
                                        label-off="Off"
                                        label-position="right">
                            </umb-toggle>
                            <div class="lastmodified">
                                <small><strong><localize key="umbhostCloudflarePurge_lastModified"></localize>:</strong> {{vm.developerModeLastModified}}</small>
                            </div>
                        </umb-box-content>
                    </umb-box>
                    <umb-box>
                        <umb-box-header title-key="umbhostCloudflarePurge_cdnCachingLevelTitle" description-key="umbhostCloudflarePurge_cdnCachingLevelDescription"></umb-box-header>
                        <umb-box-content>
                            <umb-radiobutton name="cachingLevel"
                                             value="Basic"
                                             disabled="vm.cachingLevelDisabled"
                                             model="vm.cachingLevel"
                                             label-key="umbhostCloudflarePurge_cdnCachingLevelBasic"
                                             on-change="vm.cachingLevelToggle('basic')">
                            </umb-radiobutton>
                            <umb-radiobutton name="cachingLevel"
                                             value="Simplified"
                                             disabled="vm.cachingLevelDisabled"
                                             model="vm.cachingLevel"
                                             label-key="umbhostCloudflarePurge_cdnCachingLevelSimplified"
                                             on-change="vm.cachingLevelToggle('simplified')">
                            </umb-radiobutton>
                            <umb-radiobutton name="cachingLevel"
                                             value="Aggressive"
                                             disabled="vm.cachingLevelDisabled"
                                             model="vm.cachingLevel"
                                             label-key="umbhostCloudflarePurge_cdnCachingLevelAggressive"
                                             on-change="vm.cachingLevelToggle('aggressive')">
                            </umb-radiobutton>
                            <div class="lastmodified">
                                <small><strong><localize key="umbhostCloudflarePurge_lastModified"></localize>:</strong> {{vm.cachingLevelLastModified}}</small>
                            </div>
                        </umb-box-content>
                    </umb-box>
                    <umb-box>
                        <umb-box-header title-key="umbhostCloudflarePurge_cdnBrowserTtlTitle" description-key="umbhostCloudflarePurge_cdnBrowserTtlDescription"></umb-box-header>
                        <umb-box-content>
                            <select ng-disabled="vm.browserCacheTtlDisabled" ng-change="vm.browserCacheTtlToggle()" ng-model="vm.browserCacheTtl" ng-options="ttl.value as ttl.name for ttl in vm.browserCacheTtls">
                            </select>
                            <div class="lastmodified">
                                <small><strong><localize key="umbhostCloudflarePurge_lastModified"></localize>:</strong> {{vm.browserCacheTtlLastModified}}</small>
                            </div>
                        </umb-box-content>
                    </umb-box>
                    <umb-box>
                        <umb-box-header title-key="umbhostCloudflarePurge_cdnAlwaysOnlineTitle" description-key="umbhostCloudflarePurge_cdnAlwaysOnlineDescription"></umb-box-header>
                        <umb-box-content>
                            <localize key="umbhostCloudflarePurge_cdnAlwaysOnlineIntroduction"></localize>
                            <umb-toggle checked="vm.alwaysOnline"
                                        disabled="vm.alwaysOnlineDisabled"
                                        on-click="vm.alwaysOnlineToggle()"
                                        show-labels="true"
                                        label-on="On"
                                        label-off="Off"
                                        label-position="right">
                            </umb-toggle>
                            <div class="lastmodified">
                                <small><strong><localize key="umbhostCloudflarePurge_lastModified"></localize>:</strong> {{vm.alwaysOnlineLastModified}}</small>
                            </div>
                        </umb-box-content>
                    </umb-box>
                </div>
            </umb-editor-container>
        </umb-editor-view>
    </div>
</div>