.umbhostCloudflarePurgeCdn .no-margin .umb-button {
    margin: 0 !important;
}

.umbhostCloudflarePurgeCdn .buttons {
    margin-top:7px;
}

.umbhostCloudflarePurgeCdn .lastmodified {
    margin-top: 7px;
}

.umbhostCloudflarePurgeCdn .group-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 15px;
}

    .umbhostCloudflarePurgeCdn .group-cards .card-buttons {
        margin: 15px 0;
    }